<div class="container-fluid dashboard" style="margin: 0px;">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <div class="mail-box">

        <!-- /////////////////////////////////////////  left side  ///////////////////////////////////// -->
        <aside class="sm-side">
            <div class="user-head">
                <a class="inbox-avatar" href="javascript:;">
                    <img  width="64" height="60" src="http://localhost/Cardapio-Online/API/public/img/background/RestauranteRuba.jpg">
                </a>
                <div class="user-name">
                    <h4><a href="#">Resturante XYZ</a></h4>
                    <span><a href="#">restaurantexyz@Gmail.com</a></span>
                </div>
                <a class="mail-dropdown pull-right" href="javascript:;">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>

            <ul class="inbox-nav inbox-divider">
                <li class="active">
                    <a (click)="onOpt('Refeicoes')"[class.active]><i class="fa fa-delicious"></i> Refeições</a>

                </li>
                <li>
                    <a (click)="onOpt('Bebidas')" [class.active]><i class="fa fa-beer"></i> Bebidas</a>

                </li>
                <li>
                    <a (click)="onOpt('outra')"><i class="fa fa-calendar-times-o" [class.active]></i> Horários</a>

                </li>
                <li >
                    <a href="#"><i class="fa fa-inbox"></i> Notificacoes <span class="label label-danger pull-right">2</span></a>

                </li>
                <li>
                    <a href="#"><i class="fa fa-envelope-o"></i> Comentarios<span class="label label-info pull-right">30</span></a>
                </li>

                <li>
                    <a href="#"><i class=" fa fa-trash-o"></i> Lixo</a>
                </li>
            </ul>

            <div class="inbox-body text-center">
                <div class="btn-group">
                    <a class="btn mini btn-primary" href="javascript:;">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a class="btn mini btn-success" href="javascript:;">
                        <i class="fa fa-phone"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a class="btn mini btn-info" href="javascript:;">
                        <i class="fa fa-cog"></i>
                    </a>
                </div>
            </div>

        </aside>

        <!-- /////////////////////////////////////////  left side  ///////////////////////////////////// -->



        <!-- //////////////////////////////////////////  right side  ///////////////////////////////////// -->


        <!-- /////////////////////////////////////////  refeicoes  ///////////////////////////////////// -->

        <aside class="lg-side" *ngIf="selectedOpcao=='Refeicoes'">
            <div class="inbox-head">
                <h3>Refeições</h3>
                <form action="#" class="pull-right position">
                    <div class="input-append">
                        <input type="text" class="sr-input" placeholder="Procurar Refeição">
                        <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>




            <div class="inbox-body">
                <div class="mail-option">
                    <div class="chk-all">
                        <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                        <div class="btn-group">
                            <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                Todas
                                <i class="fa fa-angle-down "></i>
                            </a>
                            <ul class="dropdown-menu">
                                 <li><a href="#"> Activas</a></li>
                                <li><a href="#"> Desactivadas</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="btn-group hidden-phone">
                        <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                            Mais
                            <i class="fa fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-toggle-on"></i> Activar</a></li>
                            <li><a href="#"><i class="fa fa-toggle-off"></i> Desactivar</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-trash-o"></i> Eliminar</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">

                        <div class="inbox-body">
                            <a data-toggle="modal" data-target="#modal1" class="btn" style="background-color: #00877B; color: white;">
                                <i class="fa fa-plus"></i>
                                Adicionar
                            </a>
                            <!-- Modal -->
                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                            <h4 class="modal-title">Nova Refeição</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Tipo</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control">
                                                            <option disabled></option>
                                                            <option value="pizza">Pizza</option>
                                                            <option value="carnes">Carnes</option>
                                                            <option value="doces">Doces</option>
                                                        </select>
                                                    </div>
                                                </div><div class="form-group">
                                                    <label class="col-md-2 control-label">Designação</label>
                                                    <div class="col-md-10">
                                                        <input type="text" placeholder="" id="inputEmail1" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">Preço</label>
                                                            <div class="col-lg-10">
                                                                <input type="number" placeholder="" id="cc" class="form-control">
                                                            </div>
                                                            <label class="col-lg-2 control-label">Imagem</label>
                                                            <div class="col-lg-10">
                                                                <input type="file"  class="form-control" image-upload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions" accept="image/*" capture>
                                                            </div>
                                                        </div>


                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="col-lg-12">
                                                            <img [src]="src" [hidden]="!src" width="100%" height="100" ><br/><br/>
                                                        </div>

                                                    </div>


                                                </div>


                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Descrição</label>
                                                    <div class="col-lg-10">
                                                        <textarea rows="3" cols="30" class="form-control" id="" name=""></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-send" type="submit">Salvar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </div>

                    </div>

                    <ul class="unstyled inbox-pagination">
                        <li><span>1-10 de 24</span></li>
                        <li>
                            <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                        </li>
                        <li>
                            <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                        </li>
                    </ul>
                </div>




                <table class="table table-inbox table-hover ">

                    <tbody>
                    <tr class="unread">
                        <td class="inbox-small-cells">
                            <br/>
                             <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="text-left">
                            <img src="http://localhost/Cardapio-Online/API/public/img/img-rest.jpg"  width="75" height="75"  />
                        </td>
                         <td class="view-message  dont-show"><h4><b>Mozareli</b></h4><h6>Pizza</h6></td>
                        <td class="view-message text-center">
                            <br/>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="view-message text-center">
                            <br/>
                            <h5>500 MT</h5>
                        </td>
                        <td class="view-message text-right">
                            <br/>
                            <a class="btn btn-link btn-md" href="#" onclick="return confirm('Deseja realmente remover a refeição???')">
                                <span class="glyphicon glyphicon-trash"> </span>
                            </a>
                            <a class="btn btn-link btn-md" href="#" >
                                <span class="glyphicon glyphicon-edit"> </span>
                            </a>
                            <a class="btn btn-link btn-md" href="#" >
                                <span class="fa fa-toggle-off"> </span>
                            </a>
                        </td>
                     </tr>
                    <tr class="unread">
                        <td class="inbox-small-cells">
                            <br/>
                             <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="text-left">
                            <img src="http://localhost/Cardapio-Online/API/public/img/img-rest.jpg"  width="75" height="75"  />
                        </td>
                         <td class="view-message  dont-show"><h4><b>Mozareli</b></h4><h6>Pizza</h6></td>
                        <td class="view-message text-center">
                            <br/>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="view-message text-center">
                            <br/>
                            <h5>500 MT</h5>
                        </td>
                        <td class="view-message text-right">
                            <br/>
                            <a class="btn btn-link btn-md" href="#" onclick="return confirm('Deseja realmente remover a refeição???')">
                                <span class="glyphicon glyphicon-trash"> </span>
                            </a>
                            <a class="btn btn-link btn-md" href="#" >
                                <span class="glyphicon glyphicon-edit"> </span>
                            </a>
                            <a class="btn btn-link btn-md" href="#" >
                                <span class="fa fa-toggle-on"> </span>
                            </a>
                        </td>
                     </tr>
                    <tr class="unread">
                        <td class="inbox-small-cells">
                            <br/>
                             <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="text-left">
                            <img src="http://localhost/Cardapio-Online/API/public/img/img-rest.jpg"  width="75" height="75"  />
                        </td>
                         <td class="view-message  dont-show"><h4><b>Mozareli</b></h4><h6>Pizza</h6></td>
                        <td class="view-message text-center">
                            <br/>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star inbox-started"></i>
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="view-message text-center">
                            <br/>
                            <h5>500 MT</h5>
                        </td>
                        <td class="view-message text-right">
                            <br/>
                            <a class="btn btn-link btn-md" href="#" onclick="return confirm('Deseja realmente remover a refeição???')">
                                <span class="glyphicon glyphicon-trash"> </span>
                            </a>
                            <a class="btn btn-link btn-md" href="#" >
                                <span class="glyphicon glyphicon-edit"> </span>
                            </a>
                            <a class="btn btn-link btn-md" href="#" >
                                <span class="fa fa-toggle-off"> </span>
                            </a>
                        </td>
                     </tr>

                    </tbody>
                </table>
            </div>
        </aside>

        <!-- /////////////////////////////////////////  refeicoes  ///////////////////////////////////// -->


        <!-- /////////////////////////////////////////  bebidas  ///////////////////////////////////// -->

        <aside class="lg-side" *ngIf="selectedOpcao=='Bebidas'">
                    <div class="inbox-head">
                        <h3>Bebidas</h3>
                        <form action="#" class="pull-right position">
                            <div class="input-append">
                                <input type="text" class="sr-input" placeholder="Procurar Bebida">
                                <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>




                    <div class="inbox-body">
                        <div class="mail-option">
                            <div class="chk-all">
                                <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                        Todas
                                        <i class="fa fa-angle-down "></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                         <li><a href="#"> Activas</a></li>
                                        <li><a href="#"> Desactivadas</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="btn-group hidden-phone">
                                <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                                    Mais
                                    <i class="fa fa-angle-down "></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="fa fa-toggle-on"></i> Activar</a></li>
                                    <li><a href="#"><i class="fa fa-toggle-off"></i> Desactivar</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="fa fa-trash-o"></i> Eliminar</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">

                                <div class="inbox-body">
                                    <a href="#myModal1" data-toggle="modal"  class="btn" style="background-color: #00877B; color: white;">
                                        <i class="fa fa-plus"></i>
                                        Adicionar
                                    </a>
                                    <!-- Modal -->
                                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal1" class="modal fade" style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                    <h4 class="modal-title">Nova Bebida</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Tipo</label>
                                                            <div class="col-md-10">
                                                                <select class="form-control">
                                                                    <option disabled></option>
                                                                    <option value="pizza">Whisk</option>
                                                                    <option value="carnes">Vodka</option>
                                                                    <option value="doces">Vinho</option>
                                                                    <option value="doces">Cerveja</option>
                                                                </select>
                                                            </div>
                                                        </div><div class="form-group">
                                                            <label class="col-md-2 control-label">Designação</label>
                                                            <div class="col-md-10">
                                                                <input type="text" placeholder=""   class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">Preço</label>
                                                            <div class="col-lg-10">
                                                                <input type="number" placeholder=""   class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">Imagem</label>
                                                            <div class="col-lg-10">
                                                                <input type="file"  class="form-control" accept="image/*" capture>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">Descrição</label>
                                                            <div class="col-lg-10">
                                                                <textarea rows="3" cols="30" class="form-control"   name=""></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-lg-offset-2 col-lg-10">
                                                                <button class="btn btn-send" type="submit">Salvar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </div>

                            </div>

                            <ul class="unstyled inbox-pagination">
                                <li><span>1-10 de 24</span></li>
                                <li>
                                    <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                                </li>
                                <li>
                                    <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                                </li>
                            </ul>
                        </div>




                        <table class="table table-inbox table-hover ">

                            <tbody>
                            <tr class="unread">
                                <td class="inbox-small-cells">
                                    <br/>
                                     <input type="checkbox" class="mail-checkbox">
                                </td>
                                <td class="text-left">
                                    <img src="http://localhost/Cardapio-Online/API/public/img/img-rest-3.jpg"  width="75" height="75"  />
                                </td>
                                 <td class="view-message  dont-show"><h4><b>Cadao</b></h4><h6>Vinho</h6></td>
                                <td class="view-message text-center">
                                    <br/>
                                    <i class="fa fa-star inbox-started"></i>
                                    <i class="fa fa-star inbox-started"></i>
                                    <i class="fa fa-star inbox-started"></i>
                                    <i class="fa fa-star inbox-started"></i>
                                    <i class="fa fa-star"></i>
                                </td>
                                <td class="view-message text-center">
                                    <br/>
                                    <h5>1000 MT</h5>
                                </td>
                                <td class="view-message text-right">
                                    <br/>
                                    <a class="btn btn-link btn-md" href="#" onclick="return confirm('Deseja realmente remover a bebida???')">
                                        <span class="glyphicon glyphicon-trash"> </span>
                                    </a>
                                    <a class="btn btn-link btn-md" href="#" >
                                        <span class="glyphicon glyphicon-edit"> </span>
                                    </a>
                                    <a class="btn btn-link btn-md" href="#" >
                                        <span class="fa fa-toggle-off"> </span>
                                    </a>
                                </td>
                             </tr>
                            <tr class="unread">
                                <td class="inbox-small-cells">
                                    <br/>
                                     <input type="checkbox" class="mail-checkbox">
                                </td>
                                <td class="text-left">
                                    <img src="http://localhost/Cardapio-Online/API/public/img/img-rest-3.jpg"  width="75" height="75"  />
                                </td>
                                 <td class="view-message  dont-show"><h4><b>Cadao</b></h4><h6>Vinho</h6></td>
                                <td class="view-message text-center">
                                    <br/>
                                    <i class="fa fa-star inbox-started"></i>
                                    <i class="fa fa-star inbox-started"></i>
                                    <i class="fa fa-star inbox-started"></i>
                                    <i class="fa fa-star inbox-started"></i>
                                    <i class="fa fa-star"></i>
                                </td>
                                <td class="view-message text-center">
                                    <br/>
                                    <h5>1000 MT</h5>
                                </td>
                                <td class="view-message text-right">
                                    <br/>
                                    <a class="btn btn-link btn-md" href="#" onclick="return confirm('Deseja realmente remover a bebida???')">
                                        <span class="glyphicon glyphicon-trash"> </span>
                                    </a>
                                    <a class="btn btn-link btn-md" href="#" >
                                        <span class="glyphicon glyphicon-edit"> </span>
                                    </a>
                                    <a class="btn btn-link btn-md" href="#" >
                                        <span class="fa fa-toggle-off"> </span>
                                    </a>
                                </td>
                             </tr>

                            </tbody>
                        </table>
                    </div>
        </aside>
        <!-- /////////////////////////////////////////  bebidas  ///////////////////////////////////// -->
        <aside class="lg-side" *ngIf="selectedOpcao=='outra'">
            <!-- Large modal -->
            <button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>

            <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Large modal</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </aside>
                <!-- /////////////////////////////////////////  bebidas  ///////////////////////////////////// -->


        <!-- /////////////////////////////////////////  right side  ///////////////////////////////////// -->

    </div>
</div>