<navbar></navbar>

<div class="container-fluid inicio">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>


<footer>
    <div class="wrap">
        <div class="logo">
            <a href="#">
                <h3>Cardápio Online</h3>
            </a>
        </div>
        <!-- logo -->
        <div class="copy">
            <p>Copyright &copy; 2016 Cardápio Online</p>
        </div>
        <!-- copy -->
        <div class="social">
            <ul class="clearfix">
                <li><a class="social-facebook" href="#" title="facebook">facebook</a></li>
                <li><a class="social-twitter" href="#" title="twitter">twitter</a></li>
                <li><a class="social-googleplus" href="#" title="google plus">google plus</a></li>
            </ul>
        </div>
        <!--social -->
    </div>
    <!-- wrap -->
</footer>
