<header class="main-header">
    <navbar></navbar>
</header>

<div class="container-fluid inicio">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

<footer class="footer-distributed">

    <div class="footer-left">

        <h3><span><img class="img-card" src="http://localhost/Cardapio-Online/API/public/img/logo.png"></span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Sobre Nós</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contacte-Nos</a>
        </p>

        <p class="footer-company-name">Cardápio Online &copy; 2016</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>21 Campos Univeritário UEM</span> Maputo, Mozambique</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+258 123 4567 </p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#">support@cardapioonline.co.mz</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>


