.header {
    margin-top: 0px;
    padding-top: 50px;
    background: url("http://localhost/Cardapio-Online/API/public/img/background/cardapio3.jpg")no-repeat center center;
    background-size: cover;    overflow: hidden;

}

.principal{
    width:100%;
    margin-top: -20px;
    height:450px;
    background-color:rgba(1,1,1,0.5);

}


.pull-middle {
    display: table-cell;
    vertical-align: middle;
}

.logo-inicio {
    position: relative;
    margin: 0 auto;
    padding: 55px 55px 55px 60px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 20px 20px 40px #887;
}

.mt-100 {
    margin-top: 10px;
}
.mb-100 {
    margin-bottom: 10px;
}


md-card{
    margin-top: 30px;
}

md-card .img-card{
    min-height: 220px;
    max-height: 220px;
}

span.card-title{
    color: #000000;
    font-weight: 700;
}

@media (max-width: 768px) {
    .restaurantes{
        margin-top: 0;
    }

    .principal{
         margin-top: -50px;

    }
}
