<div class="container">
<div class="col-md-12 filters">
    <div class="col-md-6 col-md-offset-3 in-gp-tl">
        <div class="input-group">
            <h3>Listar Por:</h3>
            <ul class="nav nav-pills pull-right">
                <li class="active"><a (click)="changeCriteria('nome')" href="#sort_tab" data-toggle="pill">Nome</a></li>
                <li><a href="#sort_tab" data-toggle="pill">Preco</a></li>
                <li><a href="#sort_tab" data-toggle="pill">Popularidade</a></li>
                <li><a href="#sort_tab" (click)="changeCriteria('cidade')" data-toggle="pill">Cidade</a></li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="tab-content">
            <div class="tab-pane active" id="sort_tab">
                <div class="col-md-6 col-md-offset-3 in-gp-tl">
                    <form>
                        <div class="input-group">
                            <input type="text" name="search" class="form-control input-filtro"
                                   placeholder="{{criterioSelecionado}}" [(ngModel)]="search">
                            <span class="input-group-btn">
									<button class="btn btn-primary" type="button">Go!</button>
                            </span>
                        </div>
                        <div class="input-group">
                            <select class="form-control" #criterio>
                                <option value="+">Ascendente</option>
                                <option value="-">Descendente</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid progress-loader">
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3">
            <div [hidden]="content_loaded">
                <md-progress-circle [style.width]="'100%'" mode="indeterminate"></md-progress-circle>
            </div>
        </div>
    </div>
</div>


<div *ngIf="restaurantes" class="container">
    <div *ngFor="let restaurante of (restaurantes | filter:criterioSelecionado:search) "
         class="col-xs-12 col-sm-2 col-md-4 col-lg-3">
        <md-card>
            <img md-card-image class="img-card"
                 src="http://localhost/Cardapio-Online/API/public/img/{{restaurante.imagem}}">
            <md-card-content *ngIf="restaurante">
                <h4>{{restaurante.nome}}</h4>
                <p><b>{{restaurante.cidade}}</b></p>
                <p>{{restaurante.av_rua}}</p>
            </md-card-content>
            <md-card-actions>

                <button (click)="gotoDetail(restaurante.id)" md-raised-button class="md-raised md-primary"><span
                        class="glyphicon glyphicon-eye-open accent"></span>
                    Visualizar
                </button>

                <button md-icon-button class="share-button">
                    <i class="material-icons">share_arrow</i>
                </button>

            </md-card-actions>
        </md-card>
    </div>
</div>
</div>
