<header class="header main-header">
    <div class="container-fluid principal">

            <br/><br/><br/>
            <div class="col-md-12">
                <h1 class="text-center" style="color: white;">Encontre a sua comida Favorita Online</h1>
                <h4 class="text-center" style="color: #A8B5C4;">Mais de 50 Restaurantes próximos a sua localização</h4>
                <br/>
            </div>


            <div class="col-md-4 col-md-offset-4 search-container">
                <br/><br/>
                <div class="col-md-10 col-md-offset-1">
                    <h4 style="color: whitesmoke"> Digite um Endereço</h4>
                    <input class="input" type="text" id="texto"  class="form-group form-control">
                    <button class="button">Buscar restaurantes</button>
                </div>
            </div>


    </div>

</header>


<div class="container">
    <br/>
    <h1 class="text-center">Restaurantes Próximos a si</h1>
    <hr/>
</div>


<div [hidden]="content_loaded">
    <md-progress-circle [style.width]="'100%'" mode="indeterminate"></md-progress-circle>
</div>

<div class="container">
        <div *ngFor="let restaurante of restaurantes" class="col-xs-10 col-sm-6 col-md-4 ">
            <md-card>
                <img md-card-image class="img-card" src="http://localhost/Cardapio-Online/API/public/img/{{restaurante.imagem}}">

                <md-card-title>
                    <p>{{restaurante.nome}}</p>
                </md-card-title>
                <md-card-content *ngIf="restaurante">
                    <p>{{restaurante.av_rua}}</p>
                </md-card-content>

                <md-card-actions>
                    <button (click)="gotoDetail(restaurante.id)" md-raised-button class="md-raised md-primary"><span
                            class="glyphicon glyphicon-eye-open accent"></span>
                        Visualizar
                    </button>
                </md-card-actions>
            </md-card>
        </div>

</div>

