md-card{
    margin-top: 30px;
}

md-card .img-card{
    min-height: 220px;
    max-height: 220px;
}

span.card-title{
    color: #000000;
    font-weight: 700;
}

@media (max-width: 768px) {
    .restaurantes{
        margin-top: 0;
    }
}