<!-- single -->
<div class="blog">
    <!-- container -->
    <div class="container">
        <div class="col-md-8 blog-top-left-grid">
            <div *ngIf="refeicao" class="left-blog left-single">
                <div class="blog-left">

                    <div class="single-left-left">
                        <img src="http://localhost/Cardapio-Online/API/public/img/{{refeicao[0].restaurantes[0].pivot.imagem}}"
                             alt="IMAGEM-REFEICAO">
                    </div>
                    <div class="blog-left-bottom">
                        <h1>{{refeicao[0].nome}}</h1>
                        <p class="lead">Preço: MZN <b>{{refeicao[0].restaurantes[0].pivot.preco}}</b></p>

                    </div>

                    <div class="blog-left-bottom left-bottom">
                        <p>
                            {{refeicao[0].descricao}}
                        </p>
                    </div>
                </div>

                <div class="blog-left rest">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <h2><a class="btn-link" [routerLink]="'/restaurante/'+refeicao[0].restaurantes[0].id">{{refeicao[0].restaurantes[0].nome}}</a>
                            </h2>
                            <p class="lead"><span class="glyphicon glyphicon-map-marker"></span>
                                {{' '+refeicao[0].restaurantes[0].cidade}}</p>
                            <p class="lead"><b>AV/Rua: </b>{{refeicao[0].restaurantes[0].av_rua+' nr'+refeicao[0].restaurantes[0].numero}}</p>
                            <p class="lead"><span class="glyphicon glyphicon-phone"></span>{{refeicao[0].restaurantes[0].telefone}}</p>
                            <hr/>
                        </div>
                        <div class="col-md-12">
                            <h4><span class="glyphicon glyphicon-time"></span> Aberto Agora</h4>
                            <hr/>
                        </div>
                    </div>
                </div>

                <div class="response">
                    <h3>Comentarios</h3>

                </div>

                <div class="opinion">
                    <h2>Deixe o Seu Comentario</h2>
                    <form action="#" method="post">
                        <textarea name="Message" placeholder="Mensagem" required=""></textarea>
                        <input type="submit" value="SUBMETER">
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="refeicao" class="col-md-4 blog-top-right-grid">
            <div class="categories">
                <h3>Outros Pratos do Restaurante <a>{{refeicao[0].restaurantes[0].nome}}</a></h3>
                <ul>
                    <!--<li><a href="#">Phasellus sem leo, interdum quis risus</a></li>-->
                    <!--<li><a href="#">Nullam egestas nisi id malesuada aliquet </a></li>-->
                    <!--<li><a href="#"> Donec condimentum purus urna venenatis</a></li>-->
                    <!--<li><a href="#">Ut congue, nisl id tincidunt lobor mollis</a></li>-->
                    <!--<li><a href="#">Cum sociis natoque penatibus et magnis</a></li>-->
                    <!--<li><a href="#">Suspendisse nec magna id ex pretium</a></li>-->
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //container -->
</div>