<!-- single -->
<div class="blog">
    <!-- container -->
    <div class="container">
        <div class="col-md-8 blog-top-left-grid">
            <div *ngFor="let ref of refeicao" class="left-blog left-single">
                <div *ngIf="ref" class="blog-left">
                    <div class="single-left-left">
                        <img src="http://localhost/Cardapio-Online/API/public/img/{{ref.pivot.imagem}}" alt="">
                    </div>
                    <div class="blog-left-bottom">
                        <h2>{{ref.nome}}</h2>
                    </div>
                    <div class="blog-left-bottom left-bottom">
                        <p>
                            {{ref.descricao}}
                        </p>
                    </div>
                </div>
                <div class="response">
                    <h3>Comentarios</h3>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="../../../assets/images/t1.jpg" alt="">
                            </a>
                            <h5><a href="#">Admin</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul>
                                <li>June 21, 2016</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="../../../assets/images/t2.jpg" alt="">
                                    </a>
                                    <h5><a href="#">Admin</a></h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li>June 21, 2016</li>
                                        <li><a href="single.html">Reply</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="../../../assets/images/t3.jpg" alt="">
                            </a>
                            <h5><a href="#">Admin</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul>
                                <li>June 21, 2016</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <div class="opinion">
                    <h2>Deixe o Seu Comentario</h2>
                    <form action="#" method="post">
                        <input type="text" name="Name" placeholder="Nome" required="">
                        <input type="text" name="Email" placeholder="Email" required="">
                        <textarea name="Message" placeholder="Mensagem" required=""></textarea>
                        <input type="submit" value="SUBMETER">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 blog-top-right-grid">
            <div class="categories">
                <h3>Pratos Semelhantes</h3>
                <ul>
                    <!--<li><a href="#">Phasellus sem leo, interdum quis risus</a></li>-->
                    <!--<li><a href="#">Nullam egestas nisi id malesuada aliquet </a></li>-->
                    <!--<li><a href="#"> Donec condimentum purus urna venenatis</a></li>-->
                    <!--<li><a href="#">Ut congue, nisl id tincidunt lobor mollis</a></li>-->
                    <!--<li><a href="#">Cum sociis natoque penatibus et magnis</a></li>-->
                    <!--<li><a href="#">Suspendisse nec magna id ex pretium</a></li>-->
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //container -->
</div>