<!--<div class="container">-->
    <div *ngIf="restaurante" class="container-fluid restPage">
        <!-- Detalhes do Restaurante-->

        <header class="rest">

            <div class="container-fluid restSmoth" >

                <div class="container-fluid">
                    <br/>
                    <br/>
                        <h1 class="text-center" style="color: white;">{{restaurante.nome}}</h1>
                        <h4 class="text-center" style="color: white;">{{restaurante.cidade}}   /   Av {{restaurante.av_rua}}  /   Nº {{restaurante.numero}}</h4>
                    <br/>
                    <br/>
                </div>

                <div class="container" >

                    <div class="col-md-9" style="background-color: black;">
                        <nav class="cl-effect-4"  style="padding-bottom: 5px">
                            <ul >
                                <a href="#">Todas Refeições</a>
                                <a href="#">Prato do Dia</a>
                                <a href="#">Recomendadas</a>
                            </ul>
                        </nav>
                    </div>

                    <!--<div class="col-md-4">-->
                        <!--<button class="btn btn-success">Classificar</button>-->
                        <!--<button class="btn btn-primary">Partilhar</button>-->
                    <!--</div>-->

                </div>

            </div>

        </header>



        <div class="container restFoods">

            <div class="col-md-9" style="background-color: white;">

                <div class="container-fluid">
                    <br/>
                    <div *ngFor="let tiporefeicao of tiposrefeicao"
                         [class.selected]="tiporefeicao === selectedTipo"
                         (click)="onSelect(tiporefeicao)"
                         class="col-md-2 col-sm-3 col-xs-4">
                        <a class="btn btn-info  tipo" style="width: 100%;">
                            <span>{{tiporefeicao.designacao}}</span>
                        </a>
                    </div>
                </div>


                <div class="container-fluid">
                    <div *ngIf="selectedTipo">
                        <div *ngFor="let refeicao of restaurante.refeicaos">
                            <div *ngIf="refeicao.tipo.designacao == selectedTipo.designacao" class="col-md-3 col-sm-4">                            <md-card>
                                <img md-card-image
                                     src="http://localhost/Cardapio-Online/API/public/img/{{refeicao.pivot.imagem}}">
                                <md-card-title>
                                    <p>{{refeicao.nome}}</p>
                                </md-card-title>
                                <md-card-content><h3>MZN {{refeicao.pivot.preco}}</h3></md-card-content>
                                <md-card-actions>
                                    <button md-raised-button class="" (click)="lgModal.show()"><span
                                            class="glyphicon glyphicon-eye-open accent"></span></button>
                                </md-card-actions>
                            </md-card>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


            <div class="col-md-3"  style="background-color: #c8c8c8;">

                <div class="container-fluid">

                    <div class="row">
                        <!--<div class="caption">-->
                        <!--<h1>{{restaurante.nome}}</h1>-->
                        <!--<h2></h2>-->
                        <!--<h3>+' '+</h3>-->
                        <!--<h4 class="lead"></h4>-->
                        <!--</div>-->

                        <div class="col-md-12">
                            <h4> <span class="glyphicon glyphicon-map-marker"> </span>{{restaurante.cidade}},  {{restaurante.av_rua}}</h4>
                            <h4>{{restaurante.numero}}</h4>
                            <h4>{{restaurante.telefone}}</h4>
                            <hr/>
                        </div>
                        <div class="col-md-12">
                            <h4> <span class="glyphicon glyphicon-time"> </span>Aberto Agora</h4>
                            <hr/>
                        </div>
                        <div class="col-md-12">
                            <h4>SIGA-NOS</h4>
                            <hr/>
                        </div>

                    </div>


                    <!-- Add Google Maps -->

                </div>

            </div>


         </div>



        <!-- Fim de Detalhes do Restaurante-->


        <!--listagem de Refeicoes do Menu do Restaurante-->
        <!--<div class="col-sm-12 col-md-12 col-lg-12">-->

            <!--<tabset>-->
                <!--<tab *ngFor="let tiporefeicao of tiposrefeicao"-->
                     <!--[heading]="tiporefeicao.designacao" class="refeicoes">-->
                    <!--<div *ngFor="let refeicao of restaurante.refeicaos">-->
                        <!--<div *ngIf="refeicao.tipo.designacao == tiporefeicao.designacao" class="col-md-3 col-sm-4">-->
                            <!--<md-card>-->
                                <!--<img md-card-image-->
                                     <!--src="http://localhost/Cardapio-Online/API/public/img/{{refeicao.pivot.imagem}}">-->
                                <!--<md-card-title>-->
                                    <!--<p>{{refeicao.nome}}</p>-->
                                <!--</md-card-title>-->
                                <!--<md-card-content><h3>MZN {{refeicao.pivot.preco}}</h3></md-card-content>-->
                                <!--<md-card-actions>-->
                                    <!--<button md-raised-button class="" (click)="lgModal.show()"><span-->
                                            <!--class="glyphicon glyphicon-eye-open accent"></span></button>-->
                                <!--</md-card-actions>-->
                            <!--</md-card>-->


                            <!--&lt;!&ndash;Modal de Detalhes de Refeicao&ndash;&gt;-->
                            <!--&lt;!&ndash;<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"&ndash;&gt;-->
                                 <!--&lt;!&ndash;aria-labelledby="myLargeModalLabel" aria-hidden="true">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="modal-dialog modal-lg">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="modal-content">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="modal-header">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<button type="button" class="close" (click)="lgModal.hide()"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;aria-label="Close">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<span aria-hidden="true">&times;</span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<h2 class="modal-title">{{restaurante.nome}}</h2>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="modal-body">&ndash;&gt;-->

                                            <!--&lt;!&ndash;<md-card>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<img md-card-image&ndash;&gt;-->
                                                     <!--&lt;!&ndash;src="http://localhost/Cardapio-Online/API/public/img/{{refeicao.pivot.imagem}}">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<md-card-title>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<p>{{refeicao.nome}}</p>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</md-card-title>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<md-card-content>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<p>{{refeicao.pivot.descricao}}</p>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<h4>MZN {{refeicao.pivot.preco}}</h4>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</md-card-content>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</md-card>&ndash;&gt;-->

                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;Fim do Modal de Detalhes de Refeicao&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</tab>-->
            <!--</tabset>-->
        <!--</div>-->
        <!--Fim de Conteudo Sobre Refeicoes -->
        <!--Fim de listagem de Refeicoes do Menu do Restaurante-->

    </div>

<!--</div>-->




