.restPage{
    margin: 0px;
    padding: 25px 0px 0px 0px;

}

.rest {
    background-color: gray;
    background: url("http://localhost/Cardapio-Online/API/public/img/background/RestauranteRuba.jpg")no-repeat center center;
    background-size: cover;
 }

.rest, .restSmoth{
    min-height: 250px;
    max-height: 400px;
    background-color:rgba(1,1,1,0.6);
    margin: 0px;
 }
.opcoes{
    background-color:rgba(1,1,1,0.9);
}
.restFoods{
    border: 1px solid #d6d4d4;
     -webkit-box-shadow: -1px 0px 2px 1px rgba(50,50,50,0.1);
    -moz-box-shadow: -1px 0px 2px 1px rgba(50,50,50,0.1);
    box-shadow: -1px 0px 2px 1px rgba(50,50,50,0.1);
    background-color: #e9eaea;
}

.card-image .img-responsive {
    max-width: 350px;
}

ul li {
    list-style: none;
}

.refeicoes {
    height: 360px;
    overflow-x: scroll;
    border: solid 2px lightblue;
}

.tipo{
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #00877b;
    color: white;
 }

.tipo:hover, .selected a{
    background-color: #00cabb;
}

md-card {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .refeicoes {
        margin-top: 20px;
    }
}






nav a {
    position: relative;
    display: inline-block;
    margin: 15px 15px;
    outline: none;
    color: #e8e8e8;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.05em;
}

nav a:hover,
nav a:focus{
    outline: none;
}

.cl-effect-4 a {
    padding: 0 0 5px;
}

.cl-effect-4 a::after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.cl-effect-4 a:visited, a:active{
    background-color: red;
}


.divTipos{
     padding-bottom: 10px;
    border-bottom: 1px solid #bdbebe;
    background-color: #f8f9f9;
}

.aside{
    background-color: #dddede;
    /*background-color:rgba(1,1,1,0.9);*/
    /*color: white;*/
}
.mapa{
    border-bottom: 1px solid #bdbebe;
}


.footer-icons{
    margin-top: 15px;
}

.footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: red;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}
.modal-header{
    background-color: #00877b;
    color: white;
}
